 <!-- <div class="col-md-8"> -->
                        <div >
                            <div id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-12">
                                               <p>A Dynamic Software Professional  experienced in technical development and project management with 5.5 years in Client facing environments within the web development and port folio management using  .NET technologies(MVC, WCF, Web API, EntityFrameWork), JQuery, Angular4+  and Service Now. Currently I am actively looking for a .Net Developer position which will allow me to utilize skills that I have obtained in my experience.</p>
                                            </div>
                                        </div>
                                      
                            </div>
                            
                        </div>
                    <!-- </div> -->