<h1>{{title}} User</h1>
<hr>

<form [formGroup]="userForm" (ngSubmit)="save()" novalidate>
    <div class="form-group row">
        <label for="" class="col-md-12">First Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="FirstName">
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">MiddleName</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="MiddleName">
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">LastName</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="LastName">
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="form-group row">
        <label for="" class="col-md-12">Email</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="Email">
        </div>
        <div class="col-md-6"></div>
    </div>


    <div class="form-group row">
        <label for="" class="col-md-12">Mobile</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="Mobile">
        </div>
        <div class="col-md-6"></div>
    </div>


    <div class="form-group row">
        <label for="" class="col-md-12">SSN</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="SSN">
        </div>
        <div class="col-md-6"></div>
    </div>

    <div class="form-group row">
        <label for="" class="col-md-12">NPN</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                   formControlName="NPN">
        </div>
        <div class="col-md-6"></div>
    </div>



    <div class="form-group row">
      <div class="col-md-12">
         <input type="submit" 
                class="btn btn-primary" 
                value="Save" />
         <input type="button" 
                class="btn btn-warning" 
                value="Cancel"
                (click)="cancel()">
      </div>

    </div>
</form>