

<div class="jumbotron text-center">
<div class="row ">
    <div class="col-md-12" style="color:#8b0000;">
        <h2>Facility Fee For Service</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Data Entry Module</h3>
    </div>
</div>
<!-- <div class="row ">
        <div class="col-md-12">
<label for="typeahead-basic">Search for a state:  &nbsp;</label>

    </div>
</div> -->
<!-- <div class="row ">
        <div class="col-md-4">
            </div>
    <div class="col-md-4">
            <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="searchs"/>
    </div>
    <div class="col-md-4">
        </div>
</div>
<hr/>
<div class="row">
        <div class="col-md-12">
                <h4>Please Choose A Contracting Office</h4>
            </div>
    
</div>
<hr/> -->
<!-- <div class="row">

        <div class="col-sm-6" >
            <div class="row">
                    <div class="col-sm-3" ><a class="btn btn-primary"  routerLink="/provider">Providers</a></div>
                    <div class="col-sm-3" ><a class="btn btn-primary"  routerLink="/provider">Contract</a></div>
                    <div class="col-sm-3" ><a class="btn btn-primary"  routerLink="/provider">Schedules</a></div>
                    <div class="col-sm-3" ><a class="btn btn-primary"  routerLink="/provider">Schedule Link</a></div>
            </div>
        </div>
        <div class="col-sm-6" >
                <div class="row">
                        <div class="col-sm-3" ><a class="btn btn-primary"  routerLink="/provider">Rating Area</a></div>
                        <div class="col-sm-3" ><a class="btn btn-primary"  routerLink="/provider">Print Reports</a></div>
                        <div class="col-sm-3" ><a class="btn btn-primary"  routerLink="/provider">Exit PCD</a></div>
                        <div class="col-sm-3" ><a class="btn btn-primary"  routerLink="/demo-grid1">Demo Grid</a></div>
                </div>
            </div>

        
</div> -->


</div>
<!-- <pre>Selected: {{ model | json }}</pre> -->

